.p-inputtext::placeholder,
.p-multiselect .p-multiselect-label.p-placeholder {
  color: #d1c7c8;
}

.p-button.p-button-icon-only {
  height: 3rem;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 8px 16px;
}

.p-calendar .p-datepicker-trigger-icon,
.p-multiselect-filter-container .p-multiselect-filter-icon {
  transform: translateY(-50%);
  right: 16px;
}

.p-multiselect-header .p-multiselect-close {
  display: none;
}

.p-multiselect-panel
  .p-multiselect-header
  .p-multiselect-filter-container
  .p-inputtext {
  padding: 8px;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  height: 2.5rem !important;
  padding: 0 16px;
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.p-datatable .p-datatable-thead > tr > th {
  background-color: hsl(0, 20%, 94%);
}
.p-datatable .p-sortable-column:not(.p-highlight):hover {
  background-color: hsl(0, 30%, 90%);
}
.p-datatable .p-sortable-column.p-highlight {
  background-color: hsl(0, 20%, 85%);
}
.p-datatable .p-sortable-column.p-highlight:hover {
  background-color: hsl(0, 30%, 85%);
}
